canvas {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

#navbar {
}

#toolbar {
    flex-direction: column;
    position: fixed;
    display: flex;
    z-index: 2;
    left: 10px;
    top: 66px;
}

#timeline {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

#tool-options {
    flex-direction: column;
    position: fixed;
    display: flex;
    right: 10px;
    z-index: 2;
    top: 66px;
}